# Node modules
node_modules/
package-lock.json

# Book build output
_book/

# OS specific
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Agent
.agents/
.gemini/

.obsidian/
